<html>
<title>Admin</title>
</head>

    
<% include ./head.ejs %> 

</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <% include ./nav.ejs %> 
      </div>
      <div class="col-10">
          <div class="contentBox">
              <h3 class="contentBoxTop">
                  <%= title %>
              </h3>
              <div class="post-info">
                <div><span>작성자</span> :
                  <%=contents.custname%>
                </div>
                <div><span>Created</span> :
                  <%=dateFormatChange(contents.date)%>
                </div>
                
              </div> <!-- post-info end -->
            </div> <!-- col end-->
            <div class="">
              <div class="post-body">
                <h4>고객정보</h4>
                  <div>전화번호 :&nbsp;
                    <span class="admin_text"><%=contents.stel1%>-<%=contents.stel2%>-<%=contents.stel3%></span>
                  </div>
                  <div>휴대전화번호 :&nbsp;
                    <span class="admin_text"><%=contents.hp1%>-<%=contents.hp2%>-<%=contents.hp3%></span>
                  </div>
                  <div>연락가능시간 :&nbsp;
                    <span class="admin_text"><%=contents.ontime%></span>
                  </div>
                  <div>이용동기 :&nbsp;
                    <span class="admin_text"><%=contents.motive%></span>
                  </div>
              </div>
            </div> <!-- col end-->
            <div class="">
                <div class="post-body">
                  <h4>이사정보</h4>
                    <div>이사종류 :&nbsp;
                      <span class="admin_text"><%=contents.movetype%></span>
                    </div>
                    <div>이사일 :&nbsp;
                      <span class="admin_text"><%=contents.movedateyear%>년 <%=contents.movedatemonth%>월 <%=contents.movedateday%>일</span>
                    <div>출발지주소 :&nbsp;
                      <span class="admin_text"><%=contents.s_postcode%><br/>
                      <%=contents.saddr1%> <%=contents.saddr2%> <%=contents.saddr3%> <%=contents.sfloor%>층 <%=contents.saddr4%> <br/>              
                      <%=contents.saddrNew%> </span>
                    </div>
                    <div>도착지주소 :&nbsp;
                      <span class="admin_text"><%=contents.e_postcode%><br/>
                      <%=contents.eaddr1%> <%=contents.eaddr2%> <%=contents.eaddr3%> <%=contents.efloor%>층 <%=contents.eaddr4%> <br/>              
                      <%=contents.eaddrNew%> </span>
                    </div>
                </div>
              </div> <!-- col end-->
          </div> <!-- row end -->
          <div class="buttons text-right margin-top-10">
            <a class="btn btn-dark" href="/admin/request4">Back</a>
            
          </div>
  
    </div>
  </div>
</body>

</html>


<%
function dateFormatChange(date) {
    var options = {
        year: "numeric", month: "numeric",
        day: "numeric", hour: "2-digit", minute: "2-digit"
    };

    return date.toLocaleTimeString("ko-KR", options);
}
%>