<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-04">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">고객센터</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub04/sub04_01_01">고객문의</a></h4>
                
                <ul>
                    <li></li><a href="/sub04/sub04_01_01">계약여부 문의</a></li>
                    <li><a href="/sub04/sub04_01_02">방문견적 변경/취소</a></li>
                    <li><a href="/sub04/sub04_01_03">현금영수증 문의</a></li>
                    <li class="on"><a href="/sub04/sub04_01_04">기타 고객문의</a></li>
                </ul>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub04/sub04_02_01">A/S</a></h4>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub04/sub04_03_01">오투이사에 바란다</a></h4>
            </div>

        </div>
		

<script>
	function searchContent() {
            if($('searchWord').val == ''){
                alert("검색어를 입력해주세요!!!");
            } else {
                $('#searchAction').submit();
            }
        }
</script>


    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">고객센터</a><a href="#none">고객문의</a><a href="#none">계약여부 문의</a>
				</p>

				<div id="content-section">
				<style>
				.search_form {margin:15px 0;}
				.search_form select, input {border:1px solid #ccc;}
				.search_form input {width:134px; line-height:23px; height:23px; padding:0 5px;}
				.search_form img {vertical-align:top;}

				.page_num {text-align:center; padding:40px 0;}
				.page_num span {display:inline-block; width:30px; height:30px; line-height:30px; background:#fff; border:1px solid #c0c0c0; color:#c0c0c0;}
				.page_num .on {background:#a7a7a7; border:1px solid #858585; color:#fff;}
				
				.strCheck {color:#00a3b4;font-weight:bold;}
				</style>
				<div style="border:2px solid #00a3b4;border-radius:5px;padding:10px 50px;color:#a9a9a9;">
					
					케이지비(주)는 가맹점에 <span class="strCheck">계약사항을 등록</span> 하도록 하고 있습니다.<br>
					이와 관련하여 케이지비(주)에 등록하지 않아 발생한 당사자간의 문제는 중재하기가 어려운 점이 있으므로<br>
					반드시 <span class="strCheck">02-926-3301</span> 또는 본 홈페이지에서 <span class="strCheck">계약등록 여부</span>를 확인해주시기 바랍니다.
															
				</div>

				<!-- <form name="sch_frm" method="get" action="/sub04/sub04_01_04/search" id="searchAction">
				<div class="search_form">
					<p style="float:left; width:40%; height:25px; padding-left:10px; text-align:left; font-size:20px; font-weight:500; color:#00a3b4; border-left: 3px solid #00a3b4;">기타 고객문의</p>
					<p style="float:right; width:50%; text-align:right;">
						<span>
							<select title="검색 조건" id="sch_gbn" name="sch_gbn" class="" style="width:78px; line-height:25px; height:25px;">
								<option value="title" >제목</option>
								<option value="writer" >작성자</option>
							</select>
						</span>
						<span>
							<input class="input-text" name="searchWord" id="searchWord" type="text" value="">
						</span>
						<a href="#" alt="검색" onclick="searchContent();"><img src="/images/icon/search_btn.gif" border="0" alt="검색"></a>
					</p>
				</div>
				</form> -->

				<!-- <div class="search">
					<form action="/sub04/sub04_01_01/search" method="get" id="searchAction" name="searchAction">
						<input type="text" class="search_word" id="searchWord" name="searchWord">
						<a href="#" onclick="searchContent();"><div class="search_btn">검색</div></a>
					</form>
				</div> -->


				<dl class="column-6 pdb-10 radius-10 bg-blue fs-13 fc-white mgb-15" style="padding-bottom:20px; margin-top:20px;">
					<dt class="pdlr-30 mgb-15 lh-50 fs-15 bg-dark-blue">게시판 운영원칙</dt>
					<dd style="padding:0 30px; font-weight:300;width:90%;">
					타인의 명예를 훼손하거나 개인정보를 유출하는 등 법률에 위반되는 글은 게시판에 등록할 수 없으며, 등록시 게시물에 대한 민형사상의 책임은 등록자에게 있습니다. <br>
					<br>
					게시판에 적합하지 않은 게시물에 대해서는 운영자에 의해 삭제될 수 있으며, 고객센터의 해당 메뉴인 고객문의(계약여부 문의, 방문견적 변경/취소, 현금영수증 문의, 기타 고객문의), 고객평가(칭찬하기, 꾸중하기), A/S(A/S 신청), 오투이사에 바란다에 각각 적합하게 등록하여 주시기 바랍니다. 
					</dd>
				</dl>					
				<table border="0" cellpadding="0" cellsapcing="0" width="100%">
				<caption>게시판 리스트</caption>
				<colgroup>
				<col width="110px">
				<col width="">
				<col width="75px">
				<col width="110px">
				<col width="90px">
				</colgroup>
					<thead style="background:#00a3b4; color:#fff; text-align:center;">
						<tr>
						<th scrpe="col" style="line-height:36px;">번호</th>
						<th scrpe="col">제목</th>
						<th scrpe="col">작성자</th>
						<th scrpe="col">작성일</th>
						<th scrpe="col">조회수</th>
						</tr>
					</thead>
					<tbody style="text-align:center; color:#666; font-weight:300; border-bottom:1px solid #ccc; line-height:40px; font-size:13px;">
						<%if(contents.length>0){%>
							<%var i = 0;%>
							<%contents.forEach(function(item){%>
							<%i++;%>
						<tr>
						<td><%=i%></td>
						<td><a href="/sub04/sub04_01_04/view?id=<%=item._id%>"><%=item.title%></a></td>	
						<td><%=item.writer%></td>
						<td><%=dateFormatChange(item.date)%></td>
						<td><%=item.count%></td>
						</tr>
						<%})%>
						<%} else {%>
						<tr>
							<td colspan="5">게시물이 없습니다.</td>
						</tr>
						<%}%>
					</tbody>
				</table>

				<div class="pagination">
					<%
					if(searchWord != '') {
						for(var i=1; i<=pagination; i++){
					%>
						<a href="/sub04/sub04_01_04/search?searchWord=<%=searchWord%>&page=<%=i%>" class="next-page"><%=i%></a>
					<%
						}
					} else {
					for(var i=1; i<=pagination; i++){
					%>
					<a href="/sub04/sub04_01_04?page=<%=i%>" class="next-page"><%=i%></a>
					<%}}%>
				</div>

				<div class="column-6 ta-right pdt-10">
					<a href="sub04_01_04_new" class="square-btn type-save">등록</a>
			</div>
			
			
		
		

			</div>

				



























			<% include ../include/footer.ejs %> 




    </div>
    
  </body>
</html>




<%
function dateFormatChange(date) {
    var options = {
        year: "numeric", month: "numeric",
        day: "numeric", hour: "2-digit", minute: "2-digit"
    };

    return date.toLocaleTimeString("ko-KR", options);
}
%>