<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <% include ../include/include.ejs %> 
  
  </head>
  <body class="sub sub-04">
    <div id="wrap">
      <div id="header">
      <% include ../include/nav.ejs %> 
      
    
	  <div id="content">
        <!-- leftmenu start -->
                    <div id="side-nav">

            <h3 class="title">고객센터</h3>
            <div class="nav-section">
                <h4 class="on"><a href="/sub04/sub04_01_01">고객문의</a></h4>
                
                <ul>
                    <li><a href="/sub04/sub04_01_01">계약여부 문의</a></li>
                    <li><a href="/sub04/sub04_01_02">방문견적 변경/취소</a></li>
                    <li><a href="/sub04/sub04_01_03">현금영수증 문의</a></li>
                    <li class="on"><a href="/sub04/sub04_01_04">기타 고객문의</a></li>
                </ul>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub04/sub04_02_01">A/S</a></h4>
                    
            </div>
            <div class="nav-section">
                <h4 ><a href="/sub04/sub04_03_01">오투이사에 바란다</a></h4>
            </div>

        </div>
		



		<script>


			$(function(){
				var fileUp = '<%=content.fileUp%>';
				var files = '';
				var cnt = '';
				var output = '';
				if(fileUp != "") {
					files = fileUp.split(',');
					cnt = files.length;
					for (var i = 0; i < cnt; i++) {
						output += "<button type='button' onclick=downloadFiles('"+files[i].split(':')[0]+"');>";
						output += "<span id='downloadFile'>" + files[i].split(':')[1] + "</span>";
						output += "</button>";
					}
				} else {
					output = "파일이 없습니다.";
				}
	
				$('.download-file').html(output);
			});
	
			function downloadFiles(filepath) {
				var path = filepath;
				if(confirm("파일이 다운로드 됩니다.") == true) {
					location.href = "/boards/download/" + path;
				}
			}
	
			function modifyContents() {
				// 글 수정 버튼 눌렀을 때 화면 전환 시
				$('.content_detail').hide();
				$('.modify_form').show();
	
				$('.modSubject').val('<%=content.title%>');
				$('.modWriter').text('<%=content.writer%>');
				$('.textContents').html('<%=content.contents%>');
			}
	
			function checkPW(inputPassword){
				var result = '';
	
				$.ajax({
					url: '/sub04/sub04_01_04/password/?id=<%=content._id%>',
					async: false,
					success: function(password) {
						if(inputPassword == password) result = true;
						else result = false;
					}
				});
				return result;
			}
	
			function modifySubmitContents() {
				// 글 수정후 db 저장 시 비번 확인 후 맞으면 수정으로 submit
				var title = $('#modContentSubject').val();
				var content = $('#modContents').val();
				var inputPassword = $('#modContentPassword').val();
	
				var chkpw = checkPW(inputPassword);
	
				if(chkpw == true) {
					if (title == '' || content == '') {
						alert("제목과 내용 모두 있어야합니다.");
						return;
					} else {
						$('#modifyAction').submit();
					}
				} else {
					alert("글 작성 시 입력한 비밀 번호를 입력해주세요");
					return;
				}
			}
	
			function cancelForm(option) {
				if(option == 'modify') {
					// 수정하다 취소시
					$('.content_detail').show();
					$('.modify_form').hide();
				} else {
					$('.delete_confirm').hide();
				}
	
			}
			function deleteContents() {
				// 글 삭제시 비번 확인 후 맞으면 삭제로 submit
				$('.delete_confirm').show();
			}
	
			function deleteConfirm() {
				var inputPassword = $('#delPassword').val();
				var chkpw = checkPW(inputPassword);
	
				if(chkpw == true) {
					location.href='/sub04/sub04_01_04/delete?id=<%=content._id%>';
				} else {
					alert("글 작성 시 입력한 비밀 번호를 입력해주세요");
					return;
				}
			}

			function dateFormatChangeScript(date) {
				var newdate = new Date(date);
	
				var options = {
					weekday: "short", year: "numeric", month: "short",
					day: "numeric", hour: "2-digit", minute: "2-digit"
				};
	
				return newdate.toLocaleTimeString("ko-KR", options);
			}

			
			function changePage(page) {
            $.get('/sub04/sub04_01_04/reply?id=<%=content._id%>&page='+page+"&max=<%=content.comments.length%>", function(replyList) {
                var output = '';
                for(var i=0;i<replyList.length;i++) {
                    output += '<div class="reply_content"><div class="reply_info">'+replyList[i].name+' / '+ dateFormatChangeScript(replyList[i].date)+'</div>';
                    output += '<div class="reply_text">'+replyList[i].memo.replace(/\\r\\n/gi, " ")+'</div></div>';
                }

                $('.reply_list').html(output);
            });

            $.ajax({
                url: '/sub04/sub04_01_04/reply?id=<%=content._id%>&page='+page+"&max=<%=content.comments.length%>",
                type: "get",
                success: function(data) {
                    var output = '';
                    for(var i=0;i<data.length;i++) {
                        output += '<div class="reply_content"><div class="reply_info">'+data[i].name+' / '+ dateFormatChangeScript(data[i].date)+'</div>';
                        output += '<div class="reply_text">'+data[i].memo.replace(/\\r\\n/gi, " ")+'</div></div>';
                    }

                    $('.reply_list').html(output);
                }
            });
        }

// 		</script>


    

 
		
			<!-- leftmenu end -->			
			<div id="inner-wrap">
				<p id="breadcrumb">
					<a href="#none" class="home">HOME</a><a href="#none">고객센터</a><a href="#none">고객문의</a><a href="#none">계약여부 문의</a>
				</p>

				<div id="content-section">
						<style>
						.page_num {text-align:center; padding:40px 0;}
						.page_num span {display:inline-block; width:30px; height:30px; line-height:30px; background:#fff; border:1px solid #c0c0c0; color:#c0c0c0;}
						.page_num .on {background:#a7a7a7; border:1px solid #858585; color:#fff;}
		
						.con33_table {border-top:1px solid #e0e0e0; border-left:1px solid #e0e0e0; width:100%; text-align:center; letter-spacing:-0.5px;}
						.con33_table th,td {border-right:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; height:30px; padding:0 10px;}
						.con33_table thead th {background:#00a3b4; color:#fff; font-weight:normal;}
						.con33_table tbody td {color:#7d7d7d; font-weight:normal; padding-left:5px;}
						.con33_table tbody td img {vertical-align:middle;}				
						.con33_table tbody th {background:#00a3b4; color:#fff; font-weight:normal; width:100px;}
						.con33_table .la {text-align:left;}
						.con33_table .la2 {text-align:left; padding:0 30px;}
						</style>				
						<div class="search_form">
							<p style="float:left; width:40%; height:25px; padding-left:10px; text-align:left; font-size:20px; font-weight:500; color:#00a3b4; border-left: 3px solid #00a3b4;">계약여부 문의</p>
						</div>				
						
						<table border="0" cellpadding="0" cellsapcing="0" width="100%" class="text_con">
								<caption>게시판 리스트</caption>
								<colgroup>
								<col width="*">
								<col width="140px">
								<col width="140px">
								<col width="100px">
								</colgroup>
								<thead style="background:#f6f7f9; color:#343434; border-top:2px solid #d8d8d8; border-bottom:1px solid #d8d8d8;">
									<tr>
										<th scrpe="col" style="height:54px; line-height:20px; padding:0 25px; font-size:16px; font-weight:normal; text-align:left;"><%=content.title%></th>
										<th scrpe="col" style="padding-right:10px; font-weight:300; font-size:13px; text-align:right;"><strong style="font-weight:500;">작성자 : </strong> <span style="padding:0 10px;"><%=content.writer%></span></th>
										<th scrpe="col" style="padding-right:0px; font-weight:300; font-size:13px; text-align:right;"><strong style="font-weight:500;">작성일 : </strong> <span style="padding:0 10px;"><%=dateFormatChange(content.date)%></span></th>
										<th scrpe="col" style="padding:0 5px; font-weight:300; font-size:13px; text-align:right;"><strong style="font-weight:500;">조회수 : </strong> <span style="padding:0 10px;"><%=content.count%></span></th>		
									</tr>
								</thead>
								<tbody style="color:#666; font-weight:400; border-bottom:1px solid #ccc; line-height:40px; font-size:13px;">
										<tr>
										<td colspan="4" style="padding:35px 25px; font-size:14px; line-height:24px; font-weight:300;"><%=content.contents%></td>
										</tr>
										</tbody>
										</table>
						


				<div class="content_box">
					<!-- content box-->
					<!-- <div class="content_detail">
						<div class="content-title"><%=content.title%></div>
						<div class="content-info">
							<%=dateFormatChange(content.date)%> / <%=content.writer%>
						</div>
						<div class="content-text">
							<%=content.contents%>
						</div>
						<div class="download-file">
						</div> -->
						<br/><br/>
						<div class="column-6 ta-center">
							<a onclick="modifyContents();" class="square-btn type-save">수정</a>
							<a onclick="deleteContents();" class="square-btn type-del">삭제</a>
							<a href="/sub04/sub04_01_04" class="square-btn type-list">목록</a>
						</div>
					</div>
					<!-- content box end -->
			
		

	<!-- modify content form-->
	<div class="modify_form reg_form">
			<form id="modifyAction" action="/sub04/sub04_01_04/?mode=modify" method="post"> <!-- 경로 설정 /: 이거 뭔가 해야징-->
				<dl>
					<dt>제목</dt>
					<dd><input type="text" class="modSubject" id="modContentSubject" name="modContentSubject" placeholder="제목" style="width:140px;"></dd>
				</dl>
				<dl>
					<dt>작성자</dt>
					<dd><span class="modWriter" id="modContentWriter" name="modContentWriter"></span></dd>
				</dl>
				<dl>
					<dt>비밀번호</dt>
					<dd><input type="password" class="inputPassword" id="modContentPassword" name="modContentPassword" placeholder="비밀번호"></dd>
				</dl>
				<dl>
					<dt>내용</dt>
					<dd><textarea class="textContents" id="modContents" name="modContents" rows="20" cols="80" style="border:1px solid #00a2b2;"></textarea></dd>
				</dl>							
				<input type="hidden" id="modId" name="modId" value="<%=content._id%>">
			</form>
			<div class="addBtngroup" style="margin-left:520px;">
				<a onclick="modifySubmitContents();" class="square-btn type-save">수정</a>
				<a onclick="cancelForm('modify');" class="square-btn type-list">취소</a>
			</div>
		</div>
		<!-- modify form end-->
	</div>



				
				<!-- delete confirm window -->
				<div class="delete_confirm reg_form">
						<h1>비밀 번호를 입력하면 글이 삭제됩니다</h1>
						<input type="password" id="delPassword" name="delPassword">
						<button onclick="deleteConfirm();" class="square-btn type-del">삭제</button>
						<button onclick="cancelForm('delete');" class="square-btn type-list">취소</button>
					</div>





					<!-- 혁신의 끝을 달리는 옆에서 달아주는 댓글 창-->
					
					<div class="reply">
							<br/><br/><br/>
							<div class="reply_list">
								<%if(content.comments.length>0){%>
								<%var commentsList = content.comments;%>
								<%for(var i=0; i<commentsList.length; i++){%>
								<%if(i<5){%>
									
										<div class="reply_content">
												<dl class="column-6 pdb-10 radius-10 fs-13 mgb-15 rep_border_gst">
													<dt class="pdlr-30 mgb-15 lh-50 fs-15 bg-e6eaef fc-666"><%=dateFormatChange(commentsList[i].date)%>에 <%=commentsList[i].name%>이 작성하셨습니다. </dt>
													<dd class="pdlr-30 before-dot-black"><%=commentsList[i].memo%></dd>
												</dl>							
						
									
								</div>
								<%}%>
								<%}%>
								<%} else {%>
								<div class="reply_content">
									<div class="reply_info">댓글이 없습니다</div>
								</div>
								<%}%>
						   </div>
				
							<!-- 댓글 페이징 -->
							<div class="reply_pagination">
								<ul>
									<%
									for(var i=1; i<=replyPage; i++){
									%>
									<a href="#" onclick="changePage(<%=i%>);"><li><%=i%></li></a>
									<%}%>
								</ul>
							</div>
							<!-- 댓글 페이징 끝-->

							<div class="reply_form column-6 pdb-10 pdt-10 radius-10 fs-13 mgb-15 rep_border_adm">
								<form id="replyAction" action="/sub04/sub04_01_04/reply" method="post">
									<div class="rep_form">
									<dl>
										<dt>고객명</dt>
										<dd><div class="reply_writer">
												<input type="text" class="replyWriter" id="replyWriter" name="replyWriter"  style="width:140px;">
												<button type="submit" class="square-btn type-rep">댓글 작성</button>
											</div>
											
									
										</dd>
									</dl>
									<dl>
										<dt>내용</dt>
										<dd><div class="reply_comment">
												<textarea class="replyComment" id="replyComment" name="replyComment" style="width:653px;height:100px;border:0.5px solid #ccc;"></textarea>
											</div></dd>
									</dl>
									<input type="hidden" name="replyId" id="replyId" value="<%=content._id%>">
									
									
								</div>
								</form>
							</div>
						</div>
						<!-- end -->











			</div>		
			</div>

		


























			<% include ../include/footer.ejs %> 



    </div>
    
  </body>
</html>




<%
function dateFormatChange(date) {
    var options = {
        year: "numeric", month: "numeric",
        day: "numeric", hour: "2-digit", minute: "2-digit"
    };

	<!-- return date.toLocaleTimeString("ko-KR", options); -->
	return date.toLocaleDateString("ko-KR");
}
%>

